{% extends "news/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="home-container">
    <div class="row">
      <div class="col-md-6">
        <div class="left-content">
          <div class="left-line"></div>
          <h2>{{ post.title }}:
            <em>by {{ post.author }}</em>
          </h2>
          <p><em>{{ post.body|linebreaks }}</em></p>
          <p class="date">Published {{ post.publish }}</p>
<!--              <div class="primary-button">-->
<!--                <a href="#">Discover More</a>-->
          </div>
        </div>
      </div>
    </div>
{% endblock %}