{% load static %}
<!doctype html>
<html lang="en">
<head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Short HTML CSS Template
          {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/easy-responsive-tabs.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/tabs.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body>
    <section class="section-full image-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a href="index.html"><div class="responsive-logo hidden-lg hidden-md hidden-sm"><img src="{% static 'img/logo.png' %}"></div></a>
            <!-- Begin .HorizontalTab -->
            <div class="VerticalTab VerticalTab_hash_scroll VerticalTab_6 tabs_ver_6 resp-vtabs hor_1" style="display: block; width: 100%; margin: 0px;">
              <ul class="resp-tabs-list hor_1" style="margin-top: 3px;">
                <a href="index.html"><div class="logo"><img src="{% static 'img/logo.png' %}"></div></a>
                <li class="tabs-1 resp-tab-item hor_1" data-tab-name="profile" aria-controls="hor_1_tab_item-0" role="tab" style="background-color: rgb(245, 245, 245); border-color: rgb(193, 193, 193);"><span class="tabs-text">Welcome Intro</span></li>
                <li class="tabs-2 resp-tab-item hor_1" data-tab-name="resume" aria-controls="hor_1_tab_item-1" role="tab" style="background-color: rgb(245, 245, 245); border-color: rgb(193, 193, 193);"><span class="tabs-text">About Us</span></li>
                <li class="tabs-3 resp-tab-item hor_1" data-tab-name="portfolio" aria-controls="hor_1_tab_item-2" role="tab" style="background-color: rgb(245, 245, 245); border-color: rgb(193, 193, 193);"><span class="tabs-text">Our Projects</span></li>
                <li class="tabs-4 resp-tab-item hor_1 resp-tab-active" data-tab-name="contact" aria-controls="hor_1_tab_item-3" role="tab" style="background-color: white; border-color: rgb(193, 193, 193);"><span class="tabs-text">Contact Us</span></li>
              </ul>

              <div class="resp-tabs-container hor_1 tabs_scroll" style="border-color: rgb(193, 193, 193);">
                <h2 class="resp-accordion hor_1" role="tab" aria-controls="hor_1_tab_item-0"
                    style="background: none rgb(245, 245, 245); border-color: rgb(193, 193, 193);">
                  <span class="fc-icon"></span><span class="tabs-text">Welcome Intro</span>
                   <i class="fa fa-angle-up arrow-tabs"></i>
                </h2>
                {% block content %}{% endblock %}



            <!-- End .HorizontalTab -->
          </div>
        </div>
      </div>

    </section>
    </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'js/easyResponsiveTabs.js' %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
</body>
</html>